<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h4 class="modal-title" id="myModalLabel">Búsqueda</h4>
			<h5>Ingrese los parámetros de su búsqueda</h5>
		</div>
		<%= form_tag cows_path ,method: :get ,remote:true, class: "form-horizontal form-material" do %>
		<div class="modal-body">
			<div class="form-group">
				<div class="col-md-12 m-b-20"> 
				  <label class="col-md-12"><%= t("cows.name")%></label>
				  <div class="col-md-12">
				  	<%= search_field_tag  "q[name_cont]",nil,class: "form-control", placeholder: 'Nombre' %>
				  </div>
				</div>
				
				 
			
			</div>
		</div>
		<div class="modal-footer">
			<%= submit_tag 'Buscar',class: 'btn btn-info waves-effect' %> 
			<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
		</div>
		<% end %>
	</div>
	<!-- /.modal-content -->
</div>