<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola Administrador</h1>
    <p>
      Precaución, el bovino <%= @cow.id %> se encuentra tumbado sobre su costado e inactivo.
    </p>
  </body>
</html>
