<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h4 class="modal-title" id="myModalLabel"><%= t('general.labels.editing') +" #{@user.full_name}" %></h4>
		</div>
		<%= render "form" %>
	</div>
</div>